# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env
.env.*
.envrc
.pyenv/
.venv/

# Flask / local config
instance/
*.sqlite3
*.db

# Logs
*.log
var/log/

# Editor temporary files
*.swp
*.swo
*~
.DS_Store

# VS Code
.vscode/
.history/
*.svg